################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/TestGogs1/FileContentIndex/394ce534-ac1d-43cb-826a-b961271959a3.vsidx
/.vs/TestGogs1/FileContentIndex
